.logo {
  width: 100px;
  height: auto;
  display: block;
}

body {
  background-color: #ffffff;
  margin: 2%;
  align-items: center;
}

.App {
  color: #1C1C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* swipify + welcome, stephen */
.gallery-header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 90%; /* ensures full container width */
}


/* products you liked + sign out */
.gallery-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 1200px;
}

.divider {
  border: none;        /* remove default border */
  height: 2px;         /* thickness of line */
  background-color: #eae6e0; /* line color */
  margin: 20px 0;      /* vertical spacing */
  width: 90%;         /* full width */
}

/* sign out button */
.gallery-header2 button {
  background-color: #535366;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.gallery-header2 button:hover {
  background-color: #1c1c1c;
}



.gallery-button {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #535366; /* Indigo-600 */
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* shadow outside the box */
}
.gallery-button:hover {
  background-color: #1C1C1C;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.gallery-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.gallery-button:focus {
  outline: 3px solid #c7d2fe; /* Indigo-100 */
  outline-offset: 2px;
}


