@font-face {
    font-family: 'Aeonik';
    src: url('./assets/fonts/Aeonik/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Aeonik';
    src: url('./assets/fonts/Aeonik/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Aeonik';
    src: url('./assets/fonts/Aeonik/AeonikTRIAL-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Aeonik';
    src: url('./assets/fonts/Aeonik/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Aeonik';
    src: url('./assets/fonts/Aeonik/AeonikTRIAL-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Aeonik';
    src: url('./assets/fonts/Aeonik/AeonikTRIAL-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }

  * {
    font-family: 'Aeonik', sans-serif;
  }